mixin portfolio_thumb
  .thumbnail
    a(href="#")
        a.js-fancybox(rel='album', href='img/up.jpeg', title='Asian Tigers #2')
          img.img-polaroid(src='http://placekitten.com/240/230', alt='')
        .caption
          h3 Asian Tigers
          img.pull-right(src="img/up.jpeg", width=30, height=30)
          h2.pull-right(style="color:green")  37.5%
          hr
          p Asian Tigers have been a breath of fresh air in the global markets.