extends layout

block layout.body
  body#home(data-spy='scroll', data-target='#primary-nav')
      mixin header

      ul.thumbnails.centre
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
        li.span3
          mixin portfolio_thumb
          
      mixin footer

